.super-avatar{
  width: 150px;
  height: 150x;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.big-avatar{
  width: 50px;
  height: 50x;
  border-radius: 50%;
}

.medium-avatar{
  width: 30px;
  height: 30x;
  border-radius: 50%;
}

.small-avatar{
  width: 50px;
  height: 50x;
  border-radius: 50%;
}