.homes{
  width: 100%;
}
.homes search_form{
  position: relative;
}
.home .search_form #search{
  background: #ffffff;
  border: 1px solid #ddd;
  min-width: 250px;
  height: 30px;
  width: 100%;
  outline: none;
  text-indent: 20px;
  border-radius: 7px;
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
}
.home .search_form .search_icon{
  position: absolute;
  top: 10%;
  left: 3%;
  font-size: 12px;
  pointer-events: none;
}
.home .search_form .search_icon .material-icons{
  font-size: 20px;
  transform: translateY(3px);
}
.home .search_form .close_search{
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
  font-weight: 900;
  color: crimson;
}